@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

:root {
  --borderColor: rgb(162, 162, 162);
  --smallSpacing: 4px;
  --spacing: 8px;
  --largeSpacing: 16px;
  --footerSize: 60px;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rebeccapurple;
}
