@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

:root {
  --borderColor: rgb(162, 162, 162);
  --smallSpacing: 4px;
  --spacing: 8px;
  --largeSpacing: 16px;
  --footerSize: 60px;
}

body {
  margin: 0;
}

.container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #eee;
}

.sensors {
  display: flex;
  flex-flow: row wrap;
  padding: var(--largeSpacing) 0 0 var(--largeSpacing);
}

.footer {
  display: flex;
  height: var(--footerSize);
  padding-bottom: var(--largeSpacing);
  box-sizing: border-box;
  justify-content: center;
}

.logo {
  height: calc(var(--footerSize) - var(--largeSpacing));
}
